body {
  font-family: Roboto, 'Open Sans', sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.hero img {
  width: 350px;
  height: 200px;
  border-radius: 8px;
}

.categories img {
  width: 150px;
  height: 150px;
}

.header, 
.hero,
.footer {
  background-color: #1f2937;
}

.header, 
.hero, 
button,
.contact .intro,
.footer {
  color: #F9FAF8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #F9FAF8;
  padding: 8px 32px;
  height: 48px;
}

.logo,
.contact .intro {
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 16px;
}

a {
  text-decoration: none;
}

.body {
  flex: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 300px;
  height: 250px;
  flex: auto;
}

.hero-msg {
  width: 400px;
  margin-bottom: 8px;
}

.hero-main,
.title,
.quote-name,
.contact .intro {
  font-weight: 800;
}

.hero-main {
  font-size: 24px;
}

.hero-sidekick, 
a,
.contact .action {
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
}

.hero button {
  border: 1px solid #3882f6;
  margin-top: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.needs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 48px;
  padding-bottom: 48px;
  height: 250px;
}

.title, 
.quote-msg {
  font-size: 20px;
  color: #1f2937;
}

.needs .categories {
  display: flex;
  gap: 40px;
  text-align: center;
}

.needs img {
  border-radius: 8px;
  border: 2px solid #3882f6;
}

.quote {
  background-color: #e5e7eb;
  font-style: italic;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.quote-msg,
.quote-name {
  width: 700px;
}

.quote-name {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
}

.contact {
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.contact-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3882f6;
  border: 2px solid #3882f6;
  border-radius: 8px;
  padding: 24px;
  width: 700px;
}

.contact button {
  border: 1px solid white;
}

.footer {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}