body {
  font-family: Roboto, 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.hero img {
  width: 300px;
  height: 200px;
}

.categories img {
  width: 150px;
  height: 150px;
}

.header, 
.hero {
  background-color: #1f2937;
}

.header, 
.hero, 
button {
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 16px;
}

a {
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-msg {
  width: 400px;
  margin-bottom: 8px;
}

.hero-main,
.title,
.quote.name {
  font-weight: 800;
}

.hero-main {
  font-size: 24px;
}

.hero-sidekick, 
a {
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  padding: 8px 16px;
  border-radius: 8px;
}

.hero button {
  border: 1px solid #3882f6;
  margin-top: 8px;
}

.contact button {
  border: 1px solid white;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title, 
.quote.msg {
  font-size: 20px;
  color: #1f2937;
}

.body .categories {
  display: flex;
  gap: 16px;
  text-align: center;
}

.body img {
  border-radius: 8px;
  border: 2px solid #3882f6;
}

.quote {
  background-color: #e5e7eb;
  font-style: italic;
  font-weight: 300;
}

.quote.name {
  font-style: normal;
  display: flex;
  justify-content: flex-end;
}
